{% extends 'base.html' %}

	<!-- =================== STYLES ======================= -->
	{% block styles %}
		<link rel="stylesheet" href="{{ url_for('static', filename='./css/index.css') }}">
	{% endblock %}

	{% block content %}
		<!-- ===================  HEADER ======================= -->
		<header class="header" id="header">
			<img src="{{ url_for('static', filename='./images/logo.png') }}" alt="Logo" class="header-logo">
			<ul class="header-menu">
				<li><a class="menu-item" href="#">PAISES</a></li>
				<li><a class="menu-item" href="#">ESTADISTICAS</a></li>
				<li><a class="menu-item" href="#">SOLUCIONES</a></li>
			</ul>
		</header>
		<hr>
		<!-- =================== MAIN ======================= -->
		<main class="main" id="main">
			<div class="main-wrapper">
				<div class="main-text">
					<h1 class="main-title">
						<span class="span">Una solución</span> <br>
						para cada país
					</h1>
					<a href="#">
						<button class="main-button">
							<span class="span">#encuentra</span>latuya
						</button>
					</a>
				</div>
				<img src="{{ url_for('static', filename='./images/world.png') }}" alt="World" class="main-img">
			</div>
		</main>

		<hr>

			<!-- =================== CARDS ======================= -->
			<section class="card-container grid" id="cards">
				{% for country in countries %}
						<a class="card" href="/country/{{ country.name }}">
							<div class="card-header">
								<img src="{{ country.flag }}" alt="{{ country.display_name }} Flag" class="card-icon">
								<p class="card-title">{{ country.display_name }} </p>
							</div>
						</a>
				{% endfor %}
				
			</section>

		<!-- =================== FOOTER ======================= -->
		<footer class="footer" id="footer">
			<ul class="footer-menu">
				<li><a href="#" class="menu-item">Contacto</a> </li>
				<li><a href="#" class="menu-item">GitHub</a> </li>
				<li><a href="#" class="menu-item">Más info</a></li>
			</ul>
			<p class="footer-text"> <span>&lt;/&gt;</span> hecho con &hearts; para BBVA</p>
		</footer>
	{% endblock %}
	
	<!-- =================== SCRIPTS ======================= -->
	{% block scripts %}
		<script src="{{ url_for('static', filename='./js/index.js') }}"></script>
	{% endblock %}