@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&display=swap');
/*================ VARIABLES ================*/
:root {
	--bg-color   : #008ACB;
	--first-color: #0CBBEF;
	--white-color: white;
	--alt-color  : #CAE9FF; 
	--accent-color: #22cefd;
	--light-green: #1FBAE4;

	--header-height: 10rem;
}

/*================ HTML RESET ================*/
* {
	margin: 0;
	padding: 0;

	font-family: 'Advent Pro';
}

body {
	min-height: 100vh;
	background-color: var(--bg-color);
	background-image: url("../images/bg.jpg");
	background-position: top;
	background-size: cover;
}

/*================ SCROLLBAR ================*/
::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--accent-color);
	border-radius: 5px;
}


/*================ GENERAL ================*/
a {
	text-decoration: none;
}

hr {
	border: 0.5px solid var(--light-green);
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 2rem;
}

.span {
	font-weight: 600;
}

/*================ HEADER ================*/
.header {
	display: flex;
	align-items: center;

	padding: 0 20%;

	height: var(--header-height);
}

.header-logo {
	height: 60%;
	cursor: pointer;
}

.header-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-left: auto;

	list-style-type: none;
}

.menu-item {
	margin: 0 1rem;

	color: var(--first-color);
	font-size: 1rem;
	font-weight: 600;
	text-decoration: none;

	/* transition: color 300ms ease-out; */
}

.menu-item:hover {
	color: var(--accent-color);
}

/*================ MAIN ================*/
.main {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;


	height: 22rem;

}

.main-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-img {
	margin-left: 3rem;

	width: 300px
}

.main-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 5rem;
}

.main-title {
	margin-bottom: 1rem;
	
	font-weight: 100;
	font-size: 3.5rem;
	color: var(--first-color);
}

.main-title .span {
	font-weight: 700;
}

.main-button {

	padding: 0.7rem 0.9rem;

	background-color: var(--first-color);
	border-radius: 0.6rem;
	border: none;
	color: var(--white-color);
	
	width: 100%;

	font-size: 1.2rem;
	font-weight: 200;

	cursor: pointer;
	outline: none;

	transition: transform 300ms;
}

.main-button:hover {
	transform: scale(1.05);
}

/*================ CARD ================*/
.card-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	text-align: center;

	padding: 2rem 3rem;

	user-select: none;

	background-color: var(--bg-color);
}

.card {
	text-align: center;

	margin: 0 1rem;
	padding: 2rem;

	max-width: 10rem;

	background-color: var(--alt-color);
	border-radius: 1rem;
	color: var(--first-color);
	cursor: pointer;
	font-weight: 600;

	transition: all 300ms;
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 2px 2px var(--first-color);
}

.card-header {
	display: flex;
	align-items: center;
	justify-content: center;

	color: var(--primary-color);
	font-size: 2rem;
	text-transform: uppercase;

	transition: all 300ms;
}

.card-icon {
	margin-right: 0.3rem;

	width: 2rem;

	font-weight: 100;

}

.card:hover .card-header {
	transform: translateY(-5px);
}

/*================ FOOTER ================*/
.footer {
	position: absolute;
	bottom: -5rem;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 3rem;
	padding: 1rem 1rem;

	height: 3rem;

	background-color: var(--white-color);
}

.footer-menu {
	display: flex;
	align-items: center;
	justify-content: space-around;

	list-style-type: none;
}

.footer-text {
	color: var(--light-green);
	align-self: flex-end;
}


/*================ EXTRAS ================*/
.flag-icon{
	width: 3rem;
}

.priority-title {
	font-size: 1rem;
}
