<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- =================== STYLES ======================= -->
	{% block styles %}{% endblock %}
	
	<!-- =================== ICON ======================= -->
	<link rel="icon" href="{{ url_for('static', filename='./images/icon_solution.png') }}" />
	<title>#Solution</title>
</head>
<body>

	<!-- ===================  HEADER ======================= -->
	<header class="header" id="header">
		<img src="{{ url_for('static', filename='./images/logo.png') }}" alt="Logo" class="header-logo" onclick='window.location.replace("/")'>
		<!-- <ul class="header-menu">
			<li><a class="menu-item" href="#">PAISES</a></li>
			<li><a class="menu-item" href="#">ESTADISTICAS</a></li>
			<li><a class="menu-item" href="#">SOLUCIONES</a></li>
		</ul> -->
	</header>
	<hr>

	{% block content %}
	{% endblock %}
	
		
	<!-- =================== SCRIPTS ======================= -->
	{% block scripts %}{% endblock %}
	
</body>
</html>